// Define variables for colors and fonts
$blockquote-background: #f9f9f9;
$blockquote-border-color: #ccc;
$code-text-color: #d14; // A shade of red for text
$code-font-family: 'Courier New', Courier, monospace; // Monospace font for code

:global(li::marker) {
  color: var(--gray-300);
}

.post-content {
  :global(*) {
    @apply font-sans;
    @apply text-black;
    letter-spacing: 0px;
    line-height: 1.75;
  }

  :global(h1),
  :global(h2),
  :global(h3),
  :global(h4),
  :global(h5),
  :global(h6) {
    margin-top: 1.5em;
    font-family: var(--font-sans);
    margin-bottom: 0.5em;
  }

  :global(strong) {
    font-size: 1em;
    font-weight: 500;
  }

  :global(h1) {
    font-size: 1em;
  }

  :global(h2) {
    font-size: 1.1em;
    //font-weight: 900;
  }

  :global(h3) {
    font-size: 1em;
    //font-weight: 700;
  }

  :global(h4) {
    font-size: 0.9em;
    @apply italic;
  }

  :global(h5) {
    font-size: 1em;
  }

  :global(h6) {
    font-size: 1em;
  }

  :global(p), :global(li) {
    font-family: var(--font-sans);
    font-weight: 200;
  }

  :global(blockquote) {
    padding: 0.5em 10px;
    background-color: $blockquote-background;
    border-left: 5px solid $blockquote-border-color;
  }

  :global(pre) {
    @apply font-mono;
    @apply text-sm;
    @apply bg-gray-100;
    @apply p-4;
    @apply rounded-md;
    @apply overflow-x-auto;
    @apply my-2;
  }

  :global(ul) {
    @apply list-disc;
    @apply pl-6;
  }

  :global(ol) {
    @apply list-decimal;
    @apply pl-4;
  }

  :global(p) > :global(a) {
    text-decoration-line: underline;
    text-decoration-color: var(--border);
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    @apply text-sm decoration-1;
  }

  :global(p) > :global(a)::after {
    margin: 0;
    content: '';
    display: inline-block;
    width: 0.85rem; /* Width of the icon */
    height: 0.85rem; /* Height of the icon */
    background: url('/link.svg'); /* Path to your SVG icon */
    background-size: cover;
    background-repeat: no-repeat;
    @apply text-center p-1;
  }


  // Apply styles globally to tokens
  :global(.token) {
    @apply text-sm;
    @apply font-extralight;
  }

  :global(.token.keyword) {
    @apply text-yellow-600;
  }

  :global(.token.class-name) {
    @apply text-yellow-700 font-bold;
  }

  :global(.token.punctuation) {
    @apply text-gray-500;
  }

  :global(.token.function) {

  }

  :global(.token.comment) {
    @apply font-extralight text-gray-800;
  }

  :global(.language-name) {
    @apply float-right;
    @apply text-xs;
    @apply font-mono;
    @apply font-bold;
    @apply text-gray-600;
  }
}
